

.reset-container {
  display: flex;
  width: 100%;
  justify-content: center;

}

.reset-form {
  width: 40%;

    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint (medium) {
      width: 80%;
    }
    a {
      cursor: pointer;
      align-self: flex-end;
      margin-top: 3%;
    }
    img:nth-child(1) {
        margin-top: 2%;
    }
    img:nth-child(2) {
      @include breakpoint (medium) {
        margin-top: 12%;
      }
  }
    & h2 {
        margin-top: 2%;
        text-align: center;
    }
    h2 {
        margin-bottom: 3%;
        font-size: 30px;
        width: 95%;
        align-self: center;
        @include breakpoint (medium) {
            font-size: 20px;
            margin-bottom: 0%;
          }
    }
    span {
      color: #EB5757;
      transition: all 0.3s;
      align-self: center;
      margin-bottom: 5px;
      opacity: 0;
      &.is-valid {
        opacity: 1;
      }
    }
      button {
        margin-top: 3%;
        align-self: center;
        width: 85%;

        @include breakpoint (medium) {
            margin-top: 5%;
          }
    }
  }