.messages__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    margin-top: 50px;
    h2 {
        margin-top: 96px;
    }
    &-name {
        align-self: center;
        font-size: 20px;
        font-weight: 400;
    }
    &-date {
        color: #BDBDBD;
        align-self: center;
        margin-bottom: 30px;
    }
    &-input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: auto;
        width: 40%;  
        margin-left: -40px;
        input {
            width: 100%; 
            
            &[type=text] {
                padding-left: 40px;
                
 
            }
        }
        img {
            position: absolute;
            cursor: pointer;
            &:first-child {
               align-self: flex-start;
               margin-left: 13px;
            }
            &:last-child {
                align-self: flex-end;
                margin-right: -36px;
            }
        }
    }


    &-area {
        @include green-scroll();
        display: flex;
        flex-direction: column;
        width: 40%;
        max-height: 75%;
        overflow-y: scroll; 
        padding: 0px 2%;
        margin-top: 30px;
    }
    .wrapper {
        @include green-scroll();
        width: 60%;
        padding: 0px 2%;
        margin-top: 30px;
        .user__container {
            display: flex;
            margin-top: 30px;
            align-items: center;
            cursor: pointer;
            &:first-child {
                margin-top: 0px;
            }
            &:hover {
                
            }
            &-avatar {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            &-name {
                font-weight: 700;
                font-size: 18px;
                margin-left: 20px;
                span {
                    margin-left: 11px;
                    color: #EB5757;
                    text-align: center;
                }
                p {
                    margin-top: 3px;
                    font-size: 14px;
                    color: #828282;
                    font-weight: normal;
                }
            }
            &-date {
                margin-left: auto;
                
            }
        }
    }
}

.message__container {
    display: flex;
    margin-bottom: 20px;
    align-self: flex-end;
    &:last-child {
        margin-bottom: 0px;

    }
    &.not-owner {
        align-self: flex-start;
    }
    &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-self: flex-end;
    }
    &-text {
        display: flex;
        flex-direction: column;
        display: flex;
        color: white;
        background: $green-rect;
        padding: 20px 20px 10px 20px;
        border-radius: 8px;
        border-bottom-right-radius: 0px;
        width: 417px;
        margin-left: 20px;
        .time {
            color: #B5D7D2;
            font-size: 12px;
            align-self: flex-end;
            margin-top: 16px;
            padding-bottom: 14px;
        }
        &.not-owner {
            background: #F2F2F2;
            color: black;
            width: 364px;
            border-radius: 8px;
            border-bottom-left-radius: 0px;
            .time {
                align-self: flex-start;
                color: #828282;
            }
        }
    }
}


