.rent-page {
    display: flex;
    justify-content: center;
    
    
    @include breakpoint (medium) {
        margin-top: 68px;
    }
    h2 {
        margin-bottom: 50px;
        margin-top: 120px;
        @include breakpoint (medium) {
            margin-bottom: 0px;
            font-size: 32px;
            text-align: center;
            margin-top: 0px
        }
    }
    &-recommend {
        
        font-size: 36px;
        font-weight: 500;
        margin-top: 100px;
        @include breakpoint (medium) {
            font-size: 24px;
            margin-top: 40px;
            text-align: center;
        }
    }
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        justify-content: center;
        @include breakpoint (medium) {
            
        }
        &.finder {
            width: 95%;
            justify-content: flex-start;
        }
        &__filter {
            display: flex;
            width: calc(100% - 12.5px);
            justify-content: space-between;
            overflow:hidden;
            @include breakpoint (medium) {
                margin-top: 30px;
                flex-direction: column;
                align-items: center;

            }
            &.finder {
                margin-top: 30px;
            }
            .input-wrapper {
                display: flex;
                padding-right: 10px;
                width: 100%;
                @include breakpoint (medium) {
                    flex-direction: column;
                    padding-right: 0px;
                    
                }
                input {
                    width: 100%;
                    @include breakpoint (medium) {
                        width: auto;
                    }
                }
            }

            .button-wrapper {
                width: 25%;
                margin-top: 0px;
                padding-bottom: 0px;
                &.is-map {
                    padding-right: 40px;
                    width: 20%;
                }
                
                @include breakpoint (medium) {
                    margin-top: 10px;
                    width: 100%;
                }
                button {
                    margin-left: auto;
                    @include breakpoint (medium) {
                        margin-left: 0px;
                        width: 100%;
                    }
                }
            }
        }

        &__sort {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 12.5px);
            margin-top: 50px;
            .wrapper {
                display: flex;
                button {
                    background: #F7F7F8;
                    border: 1px solid #D0CDE1;
                    color: black;
                    font-size: 14px;
                    width: auto;
                    padding: 10px 12px;
                    
                    border-right: 12px;
                    margin-right: 12px;
                }
            }
            .map-wrapper {
                
                display: flex;
                cursor: pointer;
                
                &:hover {
                    
                }
                img {

                }
                .open-map {
                    display: block;
                    margin-top: 0px;
                    font-size: 14px;
                    padding-left: 13px;
                }
            }

        }


        &__cars {
            display: flex;
            justify-content: space-between;
            
            flex-wrap: wrap;
            width: calc(100% + 12.5px);
            
            margin-top: 35px;
            &.finder {
                flex-direction: column;
            }
            @include breakpoint (medium) {
                margin-top: 30px;
                justify-content: center;
                
            }
            .car-frame {
                display: flex;
                min-width: 328px;
                height: 242px;
                margin: 15px 12.5px;
                
                border-radius: 10px;
                @include breakpoint (medium) {
                    
                    
                }
                img {
                    @include breakpoint (medium) {
                        
                    }
                    
                }
                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 19px;
                    &-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 14px;
                        .info-driveunit-map {
                            margin-top: 16px;
                        }
                        .img-driveunit-no-map {
                            margin-left: 30px;
                        }
                        &.is-map-open {
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        span {
                            margin-left: 11px;
                            color: #8D8B99;
                        }
                    }
                }
                &-rating {
                    font-size: 14px;
                    span {
                        font-size: 20px;
                    }
                }
                &-price {
                    margin-top: 30px;
                    font-size: 18px;
                    font-weight: 500;
                }
                &-name {
                    position: absolute;
                    align-self: flex-end;
                    color: white;
                    font-size: 20px;
                    margin-left: 20px;
                    &.finder {
                        position: relative;
                        color: black;
                        font-size: 24px;
                        align-self: flex-start;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    p {
                        font-size: 14px;
                        margin-top: 5px;
                        margin-bottom: 23px;
                    }
                }
                .wrapper {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    width: 328px;
                    margin-top: 15px;
                    
                }
                &-avatar {
                    align-self: flex-end;
                    margin-right: 15px;
                    background-size: cover;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;

                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    @include breakpoint (medium) {
                        margin-right: 25px;
                    }
                    &:hover {
                        border: 1px solid $green-rect;
                    }
                }
                &-button-wrapper {
                    
                    display: flex;
                    align-self: center;

                    margin-left: auto;

                }
                &-action {
                    background: #E8F1F0;
                    color: #61A199;
                    width: 158px;
                }
            }
        }
    }

    .yandex__map {

        &-cancel {
            position: absolute;
            z-index: 2;
            align-self: flex-end;

            margin-top: 30px;
            margin-right: 30px;
            width: 44px;
            height: 44px;
            background: white;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
        }
    }

    input {
        

    }
}
